[submodule "interface"]
	path = interface
	url = https://www.github.com/VictoriaLacroix/interface.git
[submodule "ngdc-2018"]
	path = ngdc-2018
	url = https://github.com/VictoriaLacroix/ngdc-2018.git
